/* общие настройки */
* {
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

/* настройки формы */
form {
	width: 100%;
	font-size: 1.2em;
}

form * {
	display: block;
	margin: 1%;
	padding: 1%;
	color: #563939;
}

/* задаем наследование настроек шрифта и размеры */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="button"],
textarea,
select,
button {
	font: inherit;
	width: 90%;
}

/* настройки полей ввода */
input {
	border: 0;
	border-bottom: 1px solid #785757;
}
input:focus {
	border: 0;
	border-bottom: 3px solid #785757;
	outline: none;
}
input::placeholder {
	color: #947f7f;
}

/* настройки кнопок */
button {
	background-color: #563939;
	color: rgb(255, 239, 219);
}

button,
input[type="button"] {
	border: 3px solid #785757;
	border-radius: 8px;
	cursor: pointer;
}

input[type="button"]:hover {
	border: 3px solid #785757;
	background-color: #563939;
	color: rgb(255, 239, 219);
}
button:hover {
	border: 3px solid #785757;
	background-color: #ffffff;
	color: #563939;
}

/* настройки текстового поля */
textarea {
	resize: vertical;
}

textarea:focus {
	outline: none;
	border: none;
	border-bottom: 3px solid #563939;
}

label {
	font-size: 1em;
	font-style: italic;
}

/* настройки стилизации невалидных полей */

input[required]:focus:invalid {
	border: 0;
	border-bottom: 3px solid #ff0000;
	outline: none;
}

.error {
	display: none;
	font-size: 0.8em;
	color: red;
}

input[type="email"]:invalid:not(:placeholder-shown) + .error,
textarea[required]:invalid + .error {
	display: block;
}
