.container {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 3%;
	display: flex;
	justify-content: space-around;
}

.block {
	display: block;
}
div {
	text-align: center;
}
img {
	width: 250px;
}

p {
	display: block;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700;
}
